<?xml version="1.0" encoding="utf-8" ?>
<!-- log4Net-Konfigurationsdatei -->
<log4net>
   <root>
      <!-- 
      moegliche Loglevel:
      ALL > DEBUG > INFO > WARN > ERROR > FATAL > OFF 
    -->
      <level value="ALL" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="ConsoleAppender_Error" />
   </root>

   <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
         <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
         <!--<conversionPattern value="%date [%thread] %-5level %logger (%20.60file:%line).%method - %message%newline" />-->
      </layout>
   </appender>

   <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <target value="Console.Out" />
      <filter type="log4net.Filter.LevelRangeFilter">
         <levelMin value="DEBUG" />
         <levelMax value="WARN" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
         <conversionPattern value="%-5level %method - %message%newline" />
      </layout>
   </appender>

   <appender name="ConsoleAppender_Error" type="log4net.Appender.ConsoleAppender" >
      <target value="Console.Error" />
      <filter type="log4net.Filter.LevelRangeFilter">
         <levelMin value="ERROR" />
         <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
         <conversionPattern value="%-5level %method - %message%newline" />
      </layout>
   </appender>
</log4net>
